<div class="col-4 text-center mb-4" style="padding-right:0 !important">
  <div class="product-card">
    <div class="row align-items-center" style="height: 250px;">

      <div id="rating-<%= prod.id %>" class="col-6">
        <span>Reviewlize Rating</span>
        <h3>3.6</h3>
        <i class="fa fa-star" style="color:#2196F3"></i>
        <i class="fa fa-star" style="color:#2196F3"></i>
        <i class="fa fa-star" style="color:#2196F3"></i>
        <i class="fa fa-star-o" style="color:#2196F3"></i>
        <i class="fa fa-star-o" style="color:#2196F3"></i><br>
        <span style="font-size:10px">1560 Review</span>
      </div>

      <div class="col-6 image-container">
        <img class="product-img" src='<%= prod.image_url%>' />
      </div>
      
    </div>

    <a href="<%=prod.url%>" style="color:black"><%= prod.name.truncate(70) %></a>

    <% if prod.result.present? %>
      <div class="d-flex justify-content-around last-analysis">
        <span style="font-size: 13px;font-weight: bold;">Last Update<br><%=prod.created_at.to_s.split(" ").first%></span>
        <button class="update-btn" id="prod-analyze-<%=prod.id%>">Update Now!</button>
      </div>

      <div id="prod-res-<%= prod.id %>" class="results-container">
        <%= render 'results' %>
      </div>
      <script>
        $("#prod-analyze-<%=prod.id%>").click(function(){
          this.remove();
          $.get( '<%= "#{scrape_product_url}?product_url=#{prod.url}"%>', function(data) {
            $('#prod-res-<%= "#{prod.id}"%>').html(data.length)
          });
        });
      </script>
    <% else %>
      <div id="prod-res-<%= prod.id %>" class="results-container">
        <div class="spinner"></div>
      </div>
      <script>
        $.get( '<%= "#{scrape_product_url}?product_url=#{prod.url}"%>', function(data) {
          var result = "";
          for (const item of Object.entries(data.results.aspect_analize)) {
            const name = item[0];
            const pos = item[1].positive;
            const neg = item[1].negative;
            result += `<div class="progress bg-danger my-2"><div class="progress-bar bg-success" role="progressbar" style="font-weight: bold;width: ${pos == 0 && neg == 0 ? 50 : pos/(pos+neg)*100}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">${name}</div></div>`
          }
          $('#prod-res-<%= "#{prod.id}"%>').html(result)

        });
      </script>
    <%end%>
    
  </div>
</div>


<script>
  
</script>